</div>
<footer class="footer">
	<div class="block_inner">
		<div class="footer_top">
			<div class="left">
				<div class="title">Контакты</div>
				<div class="contact address">Казахстан, г. Алматы, ул. Байзакова 280, БЦ "Almaty Towers"</div>
				<div class="contact email"><a href="mailto:info@cisedugroup.com">info@cisedugroup.com</a></div>
				<div class="contact time">Пн-Сб 10:00 - 19:00</div>
			</div>
			<div class="menu_footer">
				<div class="title">Навигация</div>
				<ul>
					<li><a href="">Обучение за рубежом</a></li>
					<li><a href="">О нас</a></li>
					<li><a href="">Гранты в Китай</a></li>
					<li><a href="">Отзывы о нас</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="right">
				<div class="title">Мы в социальных сетях</div>
				<div class="social_block">
					<a href="">
						<img src="files/ins.svg" alt="">
					</a>
					<a href="">
						<img src="files/tiktok.svg" alt="">
					</a>
					<a href="">
						<img src="files/tg.svg" alt="">
					</a>
					<a href="">
						<img src="files/wk.svg" alt="">
					</a>
					<a href="">
						<img src="files/face.svg" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="copy">© 2016-2023 CIS Education Group</div>
	</div>
</footer>
</div>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>