include _header.jade
	<div class="group_block_wr">
		<div class="block_inner">
			<div class="title">О CIS EDUCATION GROUP</div>
			<div class="inner">
				<div class="left">
					<img src="files/group.jpg" alt="">
				</div>
				<div class="right">
					<div class="body">Мы - консалтинговая компания с более чем 8-летним опытом в области образования за границей. Наш подход основан на индивидуальном подходе к каждому клиенту, учитывая их уникальные цели и истории. Мы не просто предлагаем программы обучения, мы создаем решения, ориентированные на клиента, потому что мы знаем, что у каждого человека свой путь и свои амбиции.</div>
					<a href="" class="btn_button blue">Узнать подробнее</a>
				</div>
			</div>
		</div>
	</div>	
	<div class="accor_main_block">
		<div class="block_inner">
			<div class="title">Чем мы можем помочь?</div>
			<div class="inner">
				<div class="left">
					<div class="accor_block opened">
						<div class="accor_name">Поступление в университеты</div>
						<div class="accor_body">Мы проведем тщательный анализ вашего профиля, подберем оптимальные вузы, и обеспечим персональную стратегию для поступления. Вас будет сопровождать личный ментор с опытом, гарантируя вам поддержку на каждом этапе, от документов до общения с университетами. (Бакалавриат Магистратура)</div>
					</div>
					<div class="accor_block">
						<div class="accor_name">Прохождение языковых программ обучения</div>
						<div class="accor_body">Мы проведем тщательный анализ вашего профиля, подберем оптимальные вузы, и обеспечим персональную стратегию для поступления. Вас будет сопровождать личный ментор с опытом, гарантируя вам поддержку на каждом этапе, от документов до общения с университетами. (Бакалавриат Магистратура)</div>
					</div>
					<div class="accor_block">
						<div class="accor_name">Заявки на получение финансовой поддержки и стипендий</div>
						<div class="accor_body">Мы проведем тщательный анализ вашего профиля, подберем оптимальные вузы, и обеспечим персональную стратегию для поступления. Вас будет сопровождать личный ментор с опытом, гарантируя вам поддержку на каждом этапе, от документов до общения с университетами. (Бакалавриат Магистратура)</div>
					</div>
					<div class="accor_block">
						<div class="accor_name">Консультация по сбору сопроводительных документов</div>
						<div class="accor_body">Мы проведем тщательный анализ вашего профиля, подберем оптимальные вузы, и обеспечим персональную стратегию для поступления. Вас будет сопровождать личный ментор с опытом, гарантируя вам поддержку на каждом этапе, от документов до общения с университетами. (Бакалавриат Магистратура)</div>
					</div>
					<div class="accor_block">
						<div class="accor_name">Визовое сопровождение</div>
						<div class="accor_body">Мы проведем тщательный анализ вашего профиля, подберем оптимальные вузы, и обеспечим персональную стратегию для поступления. Вас будет сопровождать личный ментор с опытом, гарантируя вам поддержку на каждом этапе, от документов до общения с университетами. (Бакалавриат Магистратура)</div>
					</div>
					<div class="accor_block">
						<div class="accor_name">Легализация/аппостиль документов</div>
						<div class="accor_body">Мы проведем тщательный анализ вашего профиля, подберем оптимальные вузы, и обеспечим персональную стратегию для поступления. Вас будет сопровождать личный ментор с опытом, гарантируя вам поддержку на каждом этапе, от документов до общения с университетами. (Бакалавриат Магистратура)</div>
					</div>
					<div class="accor_block">
						<div class="accor_name">Можем отправить на программы по обмену для студентов</div>
						<div class="accor_body">Мы проведем тщательный анализ вашего профиля, подберем оптимальные вузы, и обеспечим персональную стратегию для поступления. Вас будет сопровождать личный ментор с опытом, гарантируя вам поддержку на каждом этапе, от документов до общения с университетами. (Бакалавриат Магистратура)</div>
					</div>
					<div class="accor_block">
						<div class="accor_name">Организуем оплачиваемую стажировку для студентов бакалавров (в Германию, Болгарию, Нидерланды и тд)</div>
						<div class="accor_body">Мы проведем тщательный анализ вашего профиля, подберем оптимальные вузы, и обеспечим персональную стратегию для поступления. Вас будет сопровождать личный ментор с опытом, гарантируя вам поддержку на каждом этапе, от документов до общения с университетами. (Бакалавриат Магистратура)</div>
					</div>
					<div class="accor_block">
						<div class="accor_name">Проф.ориентационные услуги</div>
						<div class="accor_body">Мы проведем тщательный анализ вашего профиля, подберем оптимальные вузы, и обеспечим персональную стратегию для поступления. Вас будет сопровождать личный ментор с опытом, гарантируя вам поддержку на каждом этапе, от документов до общения с университетами. (Бакалавриат Магистратура)</div>
					</div>
				</div>
				<div class="right">
					<img src="files/help.jpg" alt="">
				</div>
			</div>
			<div class="btn_b">
				<a href="" class="btn_button yellow">Оставить заявку</a>
			</div>
		</div>
	</div>
	<div class="whyus_block_wr">
		<div class="block_inner">
			<div class="title">Почему именно мы?</div>
			<div class="inner">
				<div class="item" style="background-color: #E9F5FF;">
					<i></i>
					<span></span>
					<div class="name">Более 8 лет</div>
					<div class="text">отправляем студентов за рубеж из СНГ</div>
				</div>
				<div class="item" style="background-color: #FFFDE9;">
					<i></i>
					<span></span>
					<div class="name">Более 3000</div>
					<div class="text">студентов поступили в ВУЗы в разных точках мира</div>
				</div>
				<div class="item" style="background-color: #E9FFEB;">
					<i></i>
					<span></span>
					<div class="name">1200</div>
					<div class="text">поступили на грант и на бюджет</div>
				</div>
				<div class="item" style="background-color: #FFE9E9;">
					<i></i>
					<span></span>
					<div class="name">Более 300</div>
					<div class="text">довольных студентов ежегодно</div>
				</div>
				<div class="item" style="background-color: #F3E9FF;">
					<i></i>
					<span></span>
					<div class="name">15 стран</div>
					<div class="text">куда помогаем поступать студентам</div>
				</div>
				<div class="item" style="background-color: #E9FFFE;">
					<i></i>
					<span></span>
					<div class="name">Университеты</div>
					<div class="text">в Сингапуре, ОАЭ, Германии, Италии, Латвии, Китае и т.д</div>
				</div>
			</div>
		</div>
	</div>
	<div class="go_block_wr">
		<div class="block_inner">
			<div class="title">Не знаете с чего начать?</div>
			<div class="note">Выберите страну</div>
			<div class="inner">
				<a href="" class="item">
					<img src="files/go1.jpg" alt="">
					<span class="name">Китай</span>
					<span class="hov"><span>Подробнее</span></span>
				</a>
				<a href="" class="item">
					<img src="files/go2.jpg" alt="">
					<span class="name">Германия</span>
					<span class="hov"><span>Подробнее</span></span>
				</a>
				<a href="" class="item">
					<img src="files/go3.jpg" alt="">
					<span class="name">Италия</span>
					<span class="hov"><span>Подробнее</span></span>
				</a>
				<a href="" class="item">
					<img src="files/go4.jpg" alt="">
					<span class="name">Сингапур</span>
					<span class="hov"><span>Подробнее</span></span>
				</a>
				<a href="" class="item">
					<img src="files/go5.jpg" alt="">
					<span class="name">Латвия</span>
					<span class="hov"><span>Подробнее</span></span>
				</a>
				<a href="" class="item">
					<img src="files/go6.jpg" alt="">
					<span class="name">Латвия</span>
					<span class="hov"><span>Подробнее</span></span>
				</a>
				<a href="" class="item">
					<img src="files/go7.jpg" alt="">
					<span class="name">Эмираты</span>
					<span class="hov"><span>Подробнее</span></span>
				</a>
				<a href="" class="item">
					<img src="files/go8.jpg" alt="">
					<span class="name">Малайзия</span>
					<span class="hov"><span>Подробнее</span></span>
				</a>
				<a href="" class="item">
					<img src="files/go9.jpg" alt="">
					<span class="name">Корея</span>
					<span class="hov"><span>Подробнее</span></span>
				</a>
				<a href="" class="item">
					<img src="files/go10.jpg" alt="">
					<span class="name">Япония</span>
					<span class="hov"><span>Подробнее</span></span>
				</a>
			</div>
		</div>
	</div>	
	<div class="prog_block_wr">
		<div class="block_inner">
			<div class="title">Выберите программу обучения</div>
			<div class="note">Оставьте заявку и мы вас бесплатно проконсультируем</div>
			<div class="inner">
				<a href="" class="item">
					<img src="files/prog1.jpg" alt="">
					<span class="body">
						<span class="name">Языковые курсы</span>
						<span class="btn_button yellow">Оставить заявку</span>
					</span>
				</a>
				<a href="" class="item">
					<img src="files/prog2.jpg" alt="">
					<span class="body">
						<span class="name">Магистратура</span>
						<span class="btn_button yellow">Оставить заявку</span>
					</span>
				</a>
				<a href="" class="item">
					<img src="files/prog3.jpg" alt="">
					<span class="body">
						<span class="name">Бакалавриат</span>
						<span class="btn_button yellow">Оставить заявку</span>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="country_block_wr">
		<div class="block_inner">
			<div class="title">Где учатся наши студенты?</div>
			<div class="inner">
				<a href="" class="item">
					<img src="files/country1.jpg" alt="">
					<span class="body">
						<span class="flag">
							<img src="files/flag1.svg" alt="">
						</span>
						<span class="name">Латвия</span>
					</span>
				</a>
				<a href="" class="item">
					<img src="files/country2.jpg" alt="">
					<span class="body">
						<span class="flag">
							<img src="files/flag2.svg" alt="">
						</span>
						<span class="name">Латвия</span>
					</span>
				</a>
				<a href="" class="item">
					<img src="files/country3.jpg" alt="">
					<span class="body">
						<span class="flag">
							<img src="files/flag3.svg" alt="">
						</span>
						<span class="name">Китай</span>
					</span>
				</a>
				<a href="" class="item">
					<img src="files/country4.jpg" alt="">
					<span class="body">
						<span class="flag">
							<img src="files/flag4.svg" alt="">
						</span>
						<span class="name">Эмираты</span>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="spes_block_wr">
		<div class="block_inner">
			<div class="title">Наши специалисты</div>
			<div class="inner">
				<div class="swiper spes_swiper">
					<div class="swiper-wrapper">
						<a href="" class="swiper-slide item">
							<span class="image">
								<img src="files/spes1.jpg" alt="">
								<span class="hov"><span class="btn_button yellow2">Подробнее</span></span>
							</span>
							<span class="body">
								<span class="name">Захида Аметова</span>
								<span class="note">Основатель компании и директор CIS Еducation Group</span>
								<span class="phone">+7 (778) 366-66-59 <span class="wt"></span></span>
								<span class="email">ceo@cisedugroup.com</span>
							</span>
						</a>
						<a href="" class="swiper-slide item">
							<span class="image">
								<img src="files/spes2.jpg" alt="">
								<span class="hov"><span class="btn_button yellow2">Подробнее</span></span>
							</span>
							<span class="body">
								<span class="name">Захида Аметова</span>
								<span class="note">Основатель компании и директор CIS Еducation Group</span>
								<span class="phone">+7 (778) 366-66-59</span>
								<span class="email">ceo@cisedugroup.com</span>
							</span>
						</a>
						<a href="" class="swiper-slide item">
							<span class="image">
								<img src="files/spes3.jpg" alt="">
								<span class="hov"><span class="btn_button yellow2">Подробнее</span></span>
							</span>
							<span class="body">
								<span class="name">Захида Аметова</span>
								<span class="note">Основатель компании и директор CIS Еducation Group</span>
								<span class="phone">+7 (778) 366-66-59</span>
								<span class="email">ceo@cisedugroup.com</span>
							</span>
						</a>
						<a href="" class="swiper-slide item">
							<span class="image">
								<img src="files/spes2.jpg" alt="">
								<span class="hov"><span class="btn_button yellow2">Подробнее</span></span>
							</span>
							<span class="body">
								<span class="name">Захида Аметова</span>
								<span class="note">Основатель компании и директор CIS Еducation Group</span>
								<span class="phone">+7 (778) 366-66-59</span>
								<span class="email">ceo@cisedugroup.com</span>
							</span>
						</a>
						<a href="" class="swiper-slide item">
							<span class="image">
								<img src="files/spes1.jpg" alt="">
								<span class="hov"><span class="btn_button yellow2">Подробнее</span></span>
							</span>
							<span class="body">
								<span class="name">Захида Аметова</span>
								<span class="note">Основатель компании и директор CIS Еducation Group</span>
								<span class="phone">+7 (778) 366-66-59</span>
								<span class="email">ceo@cisedugroup.com</span>
							</span>
						</a>
					</div>
				</div>
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper_spes_prev"></div>
					<div class="swiper_arrow_btn swiper_spes_next"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="video_block_wr">
		<div class="block_inner">
			<div class="title">Отзывы</div>
			<div class="inner">
				<div class="item">
					<iframe width="100%" height="395" src="https://www.youtube.com/embed/XF4UJHIjFN4?si=W-_KpRbHoZAIa-_V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="item">
					<iframe width="100%" height="395" src="https://www.youtube.com/embed/XF4UJHIjFN4?si=W-_KpRbHoZAIa-_V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="item">
					<iframe width="100%" height="395" src="https://www.youtube.com/embed/XF4UJHIjFN4?si=W-_KpRbHoZAIa-_V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="item">
					<iframe width="100%" height="395" src="https://www.youtube.com/embed/XF4UJHIjFN4?si=W-_KpRbHoZAIa-_V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
			</div>
			<div class="btn_b">
				<a href="" class="btn_button blue3">Все отзывы</a>
			</div>
		</div>
	</div>		
	<div class="form_block_bottom">
		<div class="image" style="background-image: url(files/form_pic.jpg);"></div>
		<div class="pn"></div>
		<div class="block_inner">
			<form action="">
				<div class="title">Хотите поступить в ВУЗ? </div>
				<div class="text">Оставьте заявку и мы вас бесплатно проконсультируем</div>
				<div class="inner">
					<div class="field">
						<input type="text" placeholder="Ваше имя">
					</div>
					<div class="field">
						<input type="text" placeholder="Ваш номер телефона">
					</div>
					<input type="text" value="Оставить заявку" class="btn_button yellow">
				</div>
			</form>
		</div>
	</div>	
	<div class="part_block_wr">
		<div class="block_inner">
			<div class="title">Наши партнеры</div>
			<div class="inner">
				<div class="swiper part_swiper">
					<div class="swiper-wrapper">
						<a href="" class="swiper-slide item">
							<img src="files/part.jpg" alt="">
						</a>
						<a href="" class="swiper-slide item">
							<img src="files/part.jpg" alt="">
						</a>
						<a href="" class="swiper-slide item">
							<img src="files/part.jpg" alt="">
						</a>
						<a href="" class="swiper-slide item">
							<img src="files/part.jpg" alt="">
						</a>
						<a href="" class="swiper-slide item">
							<img src="files/part.jpg" alt="">
						</a>
						<a href="" class="swiper-slide item">
							<img src="files/part.jpg" alt="">
						</a>
						<a href="" class="swiper-slide item">
							<img src="files/part.jpg" alt="">
						</a>
					</div>
				</div>
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper_part_prev"></div>
					<div class="swiper_arrow_btn swiper_part_next"></div>
				</div>
			</div>
		</div>
	</div>														
include _footer.jade