include _header.jade

	<div class="video_block_wr page_review">
		<div class="block_inner">
			<div class="title">Отзывы наши студентов</div>
			<div class="path_block"><a href="">Главная</a><span>/</span>Внутренняя</div>
			<div class="inner">
				<div class="item">
					<iframe width="100%" height="395" src="https://www.youtube.com/embed/XF4UJHIjFN4?si=W-_KpRbHoZAIa-_V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="item">
					<iframe width="100%" height="395" src="https://www.youtube.com/embed/XF4UJHIjFN4?si=W-_KpRbHoZAIa-_V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="item">
					<iframe width="100%" height="395" src="https://www.youtube.com/embed/XF4UJHIjFN4?si=W-_KpRbHoZAIa-_V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="item">
					<iframe width="100%" height="395" src="https://www.youtube.com/embed/XF4UJHIjFN4?si=W-_KpRbHoZAIa-_V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>	
	<div class="form_block_bottom review_page">
		<div class="image" style="background-image: url(files/review_pic.jpg);"></div>
		<div class="pn"></div>
		<div class="block_inner">
			<form action="">
				<div class="title">Отправьте видео отзыв</div>
				<div class="text">Мы всегда рады обратной связи с нашими студентами!</div>
				<div class="inner">
					<div class="field">
						<input type="text" placeholder="Ваше имя">
					</div>
					<div class="field">
						<input type="text" placeholder="Ваш номер телефона">
					</div>
					<div class="field input-file">
						<label>
							<input type="file">
							<span class="input-file-text">Прикрепить файл видео отзыва (не более 30 mb)</span>
						</label>
					</div>
					<input type="text" value="Оставить заявку" class="btn_button yellow">
				</div>
			</form>
		</div>
	</div>	
include _footer.jade